<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AshMind.Extensions" version="1.8.1" targetFramework="net45" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net45" />
  <package id="FluentConsole" version="0.8.3.0" targetFramework="net45" />
  <package id="FluentFTP" version="16.0.15" targetFramework="net45" />
  <package id="ILMerge" version="2.13.0307" targetFramework="net45" />
  <package id="JetBrains.Annotations" version="10.2.1" targetFramework="net45" />
  <package id="MSBuild.AutoILMerge.Task" version="1.1.0" targetFramework="net45" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net45" />
</packages>